/* Variables */
:root {
    --font-family : 'Raleway', sans-serif;
    --f-400 : 400;
    --f-600 : 600;
    --f-700 : 700;
    --f-900 : 900;
    /* Colores */
    --principal: #303030;
    --emphasis: #AD3326;
    --white: #FFFFFF;
    --black-light: #121212;
    --black: #000000;
    --secundary: #1C3843;
    --secundary-light: #CBDBCA;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    width: 100%;
    min-height: 100vh;
    font-family: var(--font-family);
    position: relative;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    display: block;
}

h1,h2,h3 {
    margin: 0;
}


h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

.text--emphasis {
    background-color: var(--emphasis);
    padding: 1rem 2rem;
    border-radius: 1rem;
    display: inline;
    width: 12rem;
    font-weight: 600;
}


.contenedor {
    width: 80%;
    max-width: 120rem;
    margin: 0 auto;
}

@media (min-width:768px ){
    .contenedor {
        width: 90%;
        max-width: 140rem;
        margin: 0 auto;
    }
}

.header__nav {
    background-color: var(--principal);
    padding: 2rem 0;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-weight: var(--f-900);
    color: var(--white);
    font-size: 2.4rem;
}

.header__icon {
    color: var(--white);
    font-size: 2.4rem;
    cursor: pointer;
}

.cerrar--menu {
    color: var(--white);
    font-size: 2.5rem;  
}

.header__menu {
    background-color: var(--principal);
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    padding: 2.5rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2.5rem;
    text-align: end;
    
}

@media (min-width:768px ){
    .header__menu {
        padding: 0;
        position: relative;
        text-align: start;
    }

    .header__menu--hidden {
    opacity: 0;
    visibility: hidden;
    }
}

.header__menu--hidden {
    opacity: 0;
    visibility: hidden;
}


.header__menu>a {
    text-align: end;
    background-color: var(--white);
    padding: .75rem 1rem;
    border-radius: 1rem;
}

.header__list  {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 600;
}

.hero__text {
    padding: 0 1rem;
}

@media (min-width:768px ){
    .header__list {
        flex-direction: row;
        gap: 4rem;
        align-items: center;
    }

    .text--emphasis {
        background-color: var(--emphasis);
        padding: 1rem 2rem;
        border-radius: 1rem;
    }
}

.header__list a {
    color: var(--white);
    
}

@media (min-width:768px ){
    .header__content>i{
        display: none;
    }

    .cerrar--menu {
        display: none;
    }
}

/* hero image */


.hero__text p{
    margin: 0;
}

.header__hero {
    background-image: url('../assets/hero/blueberrys-1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40rem;
}

@media (min-width:768px ){
    .header__hero {
        height: calc(100vh - 78.39px);
    }
}

.hero__text {
    display: flex;
    flex-direction: column;
    color: var(--white);
    gap: .5rem;
}


@media (min-width:768px ){
    .hero__text {
        gap: 1.5rem;
    }
}


@media (min-width:768px ){
    .hero__text p {
        font-size: 3.5rem;
    }
}




.hero__text h2 {
    font-size: 3.5rem;
}

@media (min-width: 768px){
    .hero__text h2 {
        font-size: 8rem;
    }
}

.hero__text .text--emphasis {
    color: var(--white);
}

@media (min-width: 768px){
    .hero__text .text--emphasis {
        width: 18rem;
        text-align: center;
        font-size: 2.5rem;
        padding: 1.5rem 2rem;
    }
}

/* Main */
.description {
    background-color: var(--principal);
    padding: 10rem 0;
}

@media (min-width: 1024px ){
    .description__contenedor {
        width: 50%;
        padding: 15rem 0;
    }
}

.description__title {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.description__title h2{
    font-weight: var(--f-900);
    font-size: 2.8rem;
}

@media (min-width:1024px ){
    .description__title h2{
        font-weight: var(--f-900);
        font-size: 4rem;
    }
}

.description__title p {
    background-color: var(--black);
    color: var(--white);
    padding: .75rem 2rem;
    border-radius: 15px;
}

@media (min-width:1024px ){
    .description__title p {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}

.description__title2 {
    margin: 0;
    color: var(--white);
    font-weight: var(--f-700);
    font-size: 3rem;
}

@media (min-width:1024px ){
    .description__title2 {
        font-size: 5rem;
        margin-bottom: 4rem;
    }
}

.description__paragraph {
    color: #ffffff89;
    text-align: justify;
}




/* movil */

.movil {
    background-color: var(--secundary);
    padding: 0.1px;
    padding: 10rem 0;
}

.movil__container h3 {
    text-align: center;
    font-weight: var(--f-900);
    color: var(--white);
    font-size: 3.8rem;
    padding: 0 2rem;
}

.movil__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

@media (min-width:1024px ){
    .movil__box {
        margin: 10rem 0 0 0;
        flex-direction: row;
        gap: 10rem;
    }    
}

.movil__img {
    display: flex;
    justify-content: center;
}

@media (min-width:1024px ){
    .movil__img {
        flex: 1;
    }
}

.movil__img img {
    width: 25rem;
}

@media (min-width:1024px ){
    .movil__img img {
        width: 40rem;
    }
}

.movil__cards {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 0;
}

@media (min-width:1024px ){
    .movil__cards {
        flex: 1;
        margin: 0;
    }
}

.movil__card p {
    color: var(--white);
}

.movil__card p:last-child {
    color: #ffffff89;
    text-align: justify;
}


@media (min-width:1024px ){
    .movil__card p:last-child {
        font-size: 1.6rem;
    }
}

.movil__card p:first-child {
    text-align: center;
    font-weight: var(--f-700);
    font-size: 2.4rem;
}

/* .movil__card p:last-child {
    text-align: justify;
} */



/* Beneficios */

.beneficios {
    padding: 10rem 0;
    background-color: var(--principal);
}

.beneficios__container {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.beneficio__img {
    display: flex;
    justify-content: center;
}

@media (min-width:768px ){
    .beneficio__img {
        flex: 3;
    }
}

.beneficio__img img{
    width: 25rem;
}

@media (min-width:1024px ){
    .beneficio__img img{
        width: 30rem;
    }
}

.beneficio__text {
    margin-top: 2rem;
}

@media (min-width:768px ){
    .beneficio__text {
        flex: 4;
    }
}

.beneficio__text h3{
    color: var(--white);
}

.beneficio__text p{
    color: #ffffff89;
    text-align: justify;
}

@media (min-width:768px ){
    .beneficio__item {
        display: flex;
        align-items: center;
        gap: 5rem;
    }

    .beneficio__item:nth-child(even) .beneficio__img{
        order: 1;
    } 

    .beneficio__item:nth-child(even) .beneficio__text{
        order: 0;
    } 
}

@media (min-width:1024px ){
    .beneficio__item {
        padding: 0 5rem;
    }
}

/* Footer */
.footer {
    background-color: var(--secundary);
    padding: 4rem 0;
}

.opciones__title h4 {
    color: var(--white);
}

.opciones__list a{
    color: #ffffff89;
}

.footer__iconos {
    display: flex;
    gap: 2rem;
    padding: 4rem 0;
}

.footer__iconos a img {
    width: 2.8rem;
}

.footer__description p{
    color: #ffffff89;
}

.footer__links a{
    color: #ffffff89;
    display: inline-block;
}

@media (min-width:768px ){
    .footer__opciones {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width:1024px ){
    .footer__description {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}


/* LOGIN.HTML */
.header__nav--login {
    background-color: var(--black-light);
}

.login {
    padding: 10rem 0;
    background-color: var(--principal);
}

@media (min-width:1024px ){
    .login {
        padding: 20rem 0;
    }
}

.login__container {
    max-width: 50rem;
}

.login__title h3 {
    text-align: center;
    font-weight: var(--f-700);
    color: var(--white);
    margin-bottom: 1rem;
}

@media (min-width:1024px ){
    .login__title h3 {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.login__form  input{
    margin-top: 1rem;
    padding: 1.5rem;
    border-radius: .75rem;
    outline: none;
}

.login__form input:not(input[type='submit']){
    border: 1px solid var(--white);
    background-color: var(--black-light);
    color: var(--white);
}

.login__form input:last-child {
    border: none;
    background-color: var(--emphasis);
    color: var(--white);
    font-weight: var(--f-700);
    font-size: 2rem;
}



.login__issue a{
    margin-top: 1rem;
    color: var(--emphasis);
    text-decoration: underline;
}


